* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #f4f4f4;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.1rem;
  width: 100vw;
  border-bottom: 1px solid #fff;
  background-color: #e9183b;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}

.logo {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  padding: 0 4rem;
}

.menu .menu__item {
  margin-right: 3rem;
  display: flex;
  list-style: none;
}

.menu .menu__item li {
  border-radius: 3px;
  margin: 0 0.5rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.menu .menu__item li a {
  display: block;
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
}

.btn__menu {
  margin-right: 3rem;
  font-size: 2.3rem;
  cursor: pointer;
  color: #fff;
  display: none;
}

ul.show {
  top: 65px;
}

@media screen and (max-width: 952px) {
  .logo {
    font-size: 1.5rem;
    padding: 0 2rem;
  }

  .menu .menu__item li a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 858px) {
  .menu {
    height: 65px;
  }
  .btn__menu {
    display: inline-flex;
  }

  .menu .menu__item {
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background-color: #414141;
    /* top: -100vh; */
    text-align: center;
    flex-direction: column;
  }
}
